@import './base.css';

/*mobile first styling*/
::-webkit-scrollbar{
  display:none;
}

#app{
  width:100%;
  padding:0;
  display:flex;
  flex-wrap:wrap; 
}

.hero-bg{
  width:100%;
  background-size:cover;
  background-position:top center;
  height:fit-content;
  transition: all 5s linear;
}

.overlay{
  width:100%;
  height:fit-content;
  background-color:rgba(0,0,0,0.78);
  left:0;
  top:0;
  padding:var(--margin);
  padding-top:20%;
}



.header-content{
  display:flex;
  flex-wrap:wrap;
  align-items:end;
  gap:var(--gap);
}

.header-content > .hero-header{
  flex:0 0 fit-content;
}

.links{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin:calc(var(--gap) * 3);
}

.hero-pic{
  width:calc(var(--sizer) * 5);
  height:calc(var(--sizer) * 8);
  background-size:cover;
  background-position:top center;
  border-radius:0.4rem;
  filter:brightness(0.75);
  transition: all 3s ease-in-out;
  box-shadow: 0 0 16px rgba(0,0,0,0.6);
}

main{
  padding:0 var(--margin);
}

.tab{
  padding:0.8rem 1.6rem;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:600;
  transition: all 3s ease-in-out;
}


.hero-header p{ 
  color:var(--text-m);
  text-transform:uppercase;
  letter-spacing:0.5rem;
}

.hero-header .name{
  color:var(--text-h);
}

.hero-header h2{
  color:var(--text-h);
  text-transform:uppercase;
  font-weight:600;
  letter-spacing:0.15rem;
}